# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Java class files
*.class

# OS files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
.idea/
*.swp

# Test and problem outputs
*.out

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Log files
*.log

# Node.js
node_modules/

